openapi: 3.0.3
info:
  title: Pesa Tracker API
  description: >
    Endpoints for managing a student's food budget and the transactions
    that draw down against it. Consumed by StrathsBites to check and
    update budget when a student places an order.
  version: 1.0.0

servers:
  - url: https://api.pesatracker.com/v1
    description: Production server

security:
  - bearerAuth: []

paths:
  /users/{id}/budget:
    parameters:
      - name: id
        in: path
        required: true
        description: >
          Opaque user identifier assigned by Pesa Tracker. This is not the
          student's university ID.
        schema:
          type: string
          example: "usr_7f2a9c1e"

    get:
      summary: Get a user's current budget
      operationId: getUserBudget
      responses:
        '200':
          description: The user's current monthly food budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Partially update a user's budget
      description: >
        Applies a partial change to the budget. The action field states
        the caller's intent explicitly: update sets a new monthly
        spending limit when the student changes it manually, or deduct
        subtracts from the remaining balance when an order is placed.
      operationId: updateUserBudget
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetPatch'
      responses:
        '200':
          description: The updated budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete a user's budget
      description: >
        Permanently removes the user's budget record, e.g. when a
        student graduates or closes their account.
      operationId: deleteUserBudget
      responses:
        '204':
          description: Budget deleted successfully. No content returned.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/{id}/transactions:
    parameters:
      - name: id
        in: path
        required: true
        description: >
          Opaque user identifier assigned by Pesa Tracker. This is not the
          student's university ID.
        schema:
          type: string
          example: "usr_7f2a9c1e"

    post:
      summary: Create a transaction
      description: >
        Records a new transaction when a student places an order. As a
        side effect, the amount is deducted from the user's remaining
        budget.
      operationId: createTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionInput'
      responses:
        '201':
          description: Transaction created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: >
            The transaction amount exceeds the user's remaining budget.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Budget:
      type: object
      required:
        - userId
        - monthlyLimit
        - remaining
        - currency
        - updatedAt
      properties:
        userId:
          type: string
          description: Opaque user identifier assigned by Pesa Tracker.
          example: "usr_7f2a9c1e"
        monthlyLimit:
          type: number
          format: float
          description: The total budget set for the month.
          example: 13000.00
        remaining:
          type: number
          format: float
          description: Amount left to spend this month.
          example: 8700.00
        currency:
          type: string
          description: ISO 4217 currency code.
          example: KES
        updatedAt:
          type: string
          format: date-time
          example: "2026-09-07T14:32:00Z"

    BudgetPatch:
      type: object
      required:
        - action
        - amount
        - currency
      properties:
        action:
          type: string
          enum:
            - update
            - deduct
          description: >
            What this request should do: update sets a new monthly
            spending limit, while deduct subtracts from the remaining
            balance after an order.
          example: deduct
        amount:
          type: number
          format: float
          description: >
            The new monthly limit if action is update, or the amount
            to subtract if action is deduct.
          example: 450.00
        currency:
          type: string
          description: ISO 4217 currency code.
          example: KES

    TransactionInput:
      type: object
      required:
        - orderId
        - amount
        - items
        - currency
      properties:
        orderId:
          type: string
          description: Identifier of the StrathsBites order associated with the transaction.
          example: "ord_1001"
        amount:
          type: number
          format: float
          description: Total cost of the order.
          example: 450.00
        items:
          type: array
          minItems: 1
          items:
            type: string
          example:
            - "Beef samosa"
            - "Shawarma"
        currency:
          type: string
          description: ISO 4217 currency code.
          example: KES
        placedAt:
          type: string
          format: date-time
          description: >
            Optional; if omitted, the server sets this to the time the
            request was received.
          example: "2026-09-07T13:05:00Z"

    Transaction:
      type: object
      required:
        - id
        - userId
        - orderId
        - amount
        - items
        - currency
        - createdAt
      properties:
        id:
          type: string
          description: System-generated transaction ID.
          example: "txn_00238491"
        userId:
          type: string
          description: Opaque user identifier assigned by Pesa Tracker.
          example: "usr_7f2a9c1e"
        orderId:
          type: string
          description: Identifier of the StrathsBites order associated with the transaction.
          example: "ord_1001"
        amount:
          type: number
          format: float
          example: 450.00
        items:
          type: array
          items:
            type: string
          example:
            - "Beef samosa"
            - "Shawarma"
        currency:
          type: string
          description: ISO 4217 currency code.
          example: KES
        createdAt:
          type: string
          format: date-time
          example: "2026-09-07T13:05:02Z"

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: BUDGET_EXCEEDED
        message:
          type: string
          example: This transaction would put the user's budget below zero.

  responses:
    BadRequest:
      description: The request body is missing required fields or is malformed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: The specified user or resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'